{% extends 'index.html' %}

{% block title %} Admin Page {% endblock %}

{% block body %}

<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th scope="col">Customers</th>
            <th scope="col">Shop Items</th>
            <th scope="col">Add Shop Items</th>
            <th scope="col">View Orders</th>

        </tr>

    </thead> 
    <tbody>
        <tr>
        <td><a href="{{ url_for('admin.display_customer') }}">Customers</a></td>
        <td><a href="{{ url_for('admin.shop_items') }}">Shop Items</a></td>
        <td><a href="{{ url_for('admin.add_shop_items') }}">Add Shop Items</a></td>
        <td><a href="{{ url_for('views.orders') }}">View Orders</a></td>
        </tr>
    </tbody>
</table>


{% endblock %}